/* Primary Colors for Web Application */
/* Source: Adobe Colors */
/* Color Theme Swatches in Hex */
.Ufaq-for-Web-Application-1-hex {
    color: #344A5F;
}

.Ufaq-for-Web-Application-2-hex {
    color: #2A94D6;
}

.Ufaq-for-Web-Application-3-hex {
    color: #DBE6EC;
}

.Ufaq-for-Web-Application-4-hex {
    color: #F0F1F2;
}

.Ufaq-for-Web-Application-5-hex {
    color: #FFFFFF;
}

/* Color Theme Swatches in RGBA */
.Ufaq-for-Web-Application-1-rgba {
    color: rgba(51, 73, 94, 1);
}

.Ufaq-for-Web-Application-2-rgba {
    color: rgba(42, 148, 214, 1);
}

.Ufaq-for-Web-Application-3-rgba {
    color: rgba(219, 230, 236, 1);
}

.Ufaq-for-Web-Application-4-rgba {
    color: rgba(239, 240, 241, 1);
}

.Ufaq-for-Web-Application-5-rgba {
    color: rgba(255, 255, 255, 1);
}

/* Color Theme Swatches in HSLA */
.Ufaq-for-Web-Application-1-hsla {
    color: hsla(209, 29, 28, 1);
}

.Ufaq-for-Web-Application-2-hsla {
    color: hsla(203, 67, 50, 1);
}

.Ufaq-for-Web-Application-3-hsla {
    color: hsla(201, 30, 89, 1);
}

.Ufaq-for-Web-Application-4-hsla {
    color: hsla(210, 7, 94, 1);
}

.Ufaq-for-Web-Application-5-hsla {
    color: hsla(0, 0, 100, 1);
}